@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root {
	--font-headers: 'Chivo Mono', monospace;
	--font-text: 'Rubik', sans-serif;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #33609e;
	--color-theme-2: #4075a6;
	--color-theme-3: #4da76a;
	--color-text: #363636;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
}


h1,
h2,
h3 {
	font-family: var(--font-headers);
	font-weight: 800;
	color: var(--color-theme-1)
}

h1 {
	font-size: 2rem;
	text-align: left;
	text-decoration: underline;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	color: var(--color-text);
}

ol, ul {
	font-family: var(--font-text);
	font-weight: 100;
	margin-block-start: 0.4em;
	margin-block-end: 0.4em;
}

li::marker {
	font-weight: 900;
	padding-right: 10rem;
}

p {
	font-family: var(--font-text);
	line-height: 1.5;
	font-weight: 300;
	margin-block-start: 0.4em;
	margin-block-end: 0.4em;

}

a {
	color: var(--color-theme-1);
	background-color: #8ac6fd;
	text-decoration: none;
	font-family: var(--font-headers);
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	padding: 3rem;
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 auto;
}

.exam-part {
	margin-top: 3rem;
	background: var(--color-theme-1);
	width: 100%;
	position: relative;
}

.exam-part h1, .exam-part h2, .exam-part p, .exam-part ul {
	color: #fff;
}

.exam-part > .text-column {
	padding-top: 0;
}

.back button {
	background: none;
	border-width: 2px;
	border-color: white;
	border-radius: 2px;
	border-style:solid;
	color: white;
	position: absolute;
	right: 5px;
	top: 5px;
	font-family: var(--font-text);
}

.back button:hover {
	border-color: #363636;
	color: #363636;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.transcript {
	background-color: #8ac6fd;
	color: var(--color-theme-1);
	padding: 2rem;
	border-radius: 0.2rem;
}

.transcript span {
	color: white;
}

span {
	font-weight: 900;
}

hr {
	background: black;
	width: 100%;
	height: 1px;
	outline: none;
	border: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
